{% extends 'base.html' %} 
{%load static%}
<body id="page-top">
{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid" style="padding-top: 30px;background: rgb(231,231,231);padding-bottom: 20px;padding-left: 35px;">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <div class="row" style="width: 100%;">
                        <div class="col">
                            <h3 class="text-dark mb-0">Dashboard</h3>
                        </div>
                        <div class="col" style="text-align: right;">
                            <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="border-radius: 57px;">
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 30px 0px 0px 30px;"><button class="btn btn-primary py-0" type="button" style="border: none;background: white;color: gray;border-radius: 0px 30px 30px 0px;"><i class="fas fa-search"></i></button>
                                    <div
                                        class="input-group-append"></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="row" style="margin-top: 50px;">
                <div class="col col-lg-9 col-xl-9">
                    <div class="row" style="margin-bottom: 30px;padding-top: 10px;padding-left: 10px;">
                        <div class="col test"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test3"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col" style="margin-left: 25px;text-align: right;">
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="border: none;background: white;color: gray;">Sort</button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <div class="row" style="text-align: right;">
                                        <div class="col"><i class="fa fa-plus-circle corner-icon"></i></div>
                                    </div>
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <div class="row" style="text-align: right;">
                                        <div class="col"><i class="fa fa-plus-circle corner-icon"></i></div>
                                    </div>
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <div class="row" style="text-align: right;">
                                        <div class="col"><i class="fa fa-plus-circle corner-icon"></i></div>
                                    </div>
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <div class="row" style="text-align: right;">
                                        <div class="col"><i class="fa fa-plus-circle corner-icon"></i></div>
                                    </div>
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;padding-top: 10px;padding-left: 10px;">
                        <div class="col test"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test3"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col" style="margin-left: 25px;text-align: right;">
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="border: none;background: white;color: gray;">Sort</button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col col-lg-7">
                            <div class="card">
                                <div class="card-body" style="height: 300px;">
                                    <div class="row" style="text-align: right;">
                                        <div class="col"><i class="fa fa-plus-circle corner-icon"></i></div>
                                    </div>
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-5">
                            <div class="row">
                                <div class="col col-lg-6" style="padding: 3px;">
                                    <div class="card">
                                        <div class="card-body" style="height: 145px;">
                                            <h4 class="card-title">Title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6" style="padding: 3px;">
                                    <div class="card">
                                        <div class="card-body" style="height: 145px;">
                                            <h4 class="card-title">Title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-6" style="padding: 3px;">
                                    <div class="card">
                                        <div class="card-body" style="height: 145px;">
                                            <h4 class="card-title">Title</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-6" style="padding: 3px;">
                                    <div class="card">
                                        <div class="card-body" style="height: 145px;">
                                            <h4 class="card-title">Title</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title">Title</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;padding-top: 10px;padding-left: 10px;">
                        <div class="col test"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test1"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col test3"><label class="col-form-label sliderlabel">Slider</label></div>
                        <div class="col" style="margin-left: 25px;text-align: right;">
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="border: none;background: white;color: gray;">Sort</button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col" style="margin-top: 20px;">
                            <div class="card">
                                <div class="card-body" style="height: 300px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Graph</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" style="margin-top: 79px;">
                            <div class="card">
                                <div class="card-body" style="height: 150px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Widget</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 130px;">
                            <div class="card">
                                <div class="card-body" style="height: 300px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Calender</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 51px;">
                            <div class="card">
                                <div class="card-body" style="height: 103px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Msg</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 20px;">
                            <div class="card">
                                <div class="card-body" style="height: 103px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Msg</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 20px;">
                            <div class="card">
                                <div class="card-body" style="height: 103px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Msg</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col" style="margin-top: 76px;">
                            <div class="card">
                                <div class="card-body" style="height: 300px;">
                                    <h4 class="card-title" style="text-align: center;font-size: 15px;color: black;font-weight: 600;">Msg</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>
