{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>

        
  <input type="checkbox" id="check">
 <label for="check">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="menu" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4 2H2v2h2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 
          1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 
          1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9
           2H7v2h2V2zm5 0h-2v2h2V2zM4 7H2v2h2V7zm5 0H7v2h2V7zm5 0h-2v2h2V7zM4 12H2v2h2v-2zm5 0H7v2h2v-2zm5 0h-2v2h2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 
           1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"/>
        </svg> 
  </label>
  <a href="{% url 'register' %}" style="margin-left:60%;text-decoration:none;"><span style="font-size: 10px; color:#000;font-weight:bold; margin-top:10%">Add User</span></a>

  <div style="margin-left: 80%;">
  <h2>Hai Welcome</h2>
  <span>Hello,{{ request.user }} </span>

  <span><a href="{%url 'logout' %}">Logout</a> </span>

</div>

  <div class="sidebar">
    <a href="#" class="active" style="text-decoration: none;">
      <i class="fas fa-qrcode"></i>
      <span class="item">Dashboard</span>
    </a>
    <a href="#" style="text-decoration: none;">
      <i class="fa fa-tasks"></i>
      <span class="item">Tasks</span>
    </a>
    <a href="#" style="text-decoration: none;">
      <i class="fa fa-bell" aria-hidden="true"></i>
      <span>Notifications</span>
    </a>
    <a href="#" style="text-decoration: none;">
      <i class="fa fa-file" aria-hidden="true"></i>
      <span>Reports</span>
    </a>
    <a href="reg" style="text-decoration: none;">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span> Account Management</span>
  </a>
  </div>

  
  <div style="margin-left: 18%;" >
    
    <div class="card-space" style="margin-left: 2%;">

    <div class="row">
    <div class="col-ml-4">
  <div class="card" style="width: 10rem; height:5rem;margin-left:20%; background: #fff; box-shadow: 0px 0px 10px 0px #000;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">NEW</h5>
    </div>
  </div>
    </div>

    <div class="card-space" style="margin-left: 2%;">

    <div class="col-ml-4">

  <div class="card" style="width: 10rem; height:5rem;margin-left:20%;background: #fff; box-shadow: 0px 0px 10px 0px #000;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">ONGOING</h5>
    </div>
  </div>
    </div>

    </div>
    <div class="card-space" style="margin-left: 2%;">
        <div class="col-ml-4">

  <div class="card" style="width: 10rem; height:5rem;margin-left:20%;background: #fff; box-shadow: 0px 0px 10px 0px #000;">
    <div class="card-body">
      <h5 class="card-title">COMPLETED</h5>
    </div>
    </div>
</div>
    </div>

  </div>
  
</div>
 
</body>
</html>

