{% extends 'base.html' %}

{% block title %}Person Management Board{% endblock %}

{% block content %}

	<h2>Taskee >> Person Management</h2>
	<p>
		<a href="{% url 'person_add' %}">Add person</a>
	</p>

	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date of Birth</th>
				<th>Country</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody>
			{% for person in people %}
			<tr>
				<td><a href="{% url 'person_change' person.pk %}">{{ person.name }}</a></td>
				<td>{{ person.dob }}</td>
				<td>{{ person.country }}</td>
				<td>{{ person.city }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">No person in the database. <a href="{% url 'person_add' %}">Add the first person</a>.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endblock %}
